# **ASSIGNEMENT #004**

# **COVID-19 Virus Spread  Exploratory Data Analysis**

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

## *COVID-19 Dataset Presentation*

The data contains records about the COVID-19 spread across the globe. There are 3 datasets that contain the country-wise spread, state-wise spread along with longitude and latitude.

It is an excellent database for people who want to try learning techniques of data visualization, data analytics, and many different forms of data processing.

#### Data Format:

  - Country_Region
  - Last_Update
  - Lat
  - Long_
  - Confirmed
  - Deaths
  - Recovered
  - Active
  - Incident_Rate
  - People_Tested
  - People_Hospitalized
  - Mortality_Rate
  - UID
  - ISO3
  - FIPS
  - Admin2        
  - Province_State
  - Combined_Key

#### Domain: Stocks, Finance
#### Language: English
#### Source: [ Tata Global Stocks Data](https://www.quandl.com/data/NSE/TATAGLOBAL-Tata-Global-Beverages-Limited)
#### Download links: [COVID-19 Dataset 1](https://data-flair.s3.ap-south-1.amazonaws.com/Data-Science-Data/covid-19-dataset-1.zip), [COVID-19 Dataset 2](https://data-flair.s3.ap-south-1.amazonaws.com/Data-Science-Data/covid-19-dataset-2.zip), [COVID-19 Dataset 3](https://data-flair.s3.ap-south-1.amazonaws.com/Data-Science-Data/covid-19-dataset-1.zip)

In [90]:
dataset1 = pd.read_csv('../assets/covid19/dataset1.csv')
dataset2 = pd.read_csv('../assets/covid19/dataset2.csv')
dataset3 = pd.read_csv('../assets/covid19/dataset3.csv')

## First Dataset Exploration

### Dataset Column Data Types

In [28]:
dataset1.dtypes

FIPS              float64
Admin2             object
Province_State     object
Country_Region     object
Last_Update        object
Lat               float64
Long_             float64
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
Combined_Key       object
dtype: object

### Dataset Details

In [38]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2347 non-null   float64
 1   Admin2          2360 non-null   object
 2   Province_State  2447 non-null   object
 3   Country_Region  2624 non-null   object
 4   Last_Update     2624 non-null   object
 5   Lat             2574 non-null   float64
 6   Long_           2574 non-null   float64
 7   Confirmed       2624 non-null   int64
 8   Deaths          2624 non-null   int64
 9   Recovered       2624 non-null   int64
 10  Active          2624 non-null   int64
 11  Combined_Key    2624 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 246.1+ KB

### Dataset First 10 Rows

In [29]:
dataset1.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-03 22:46:37,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-03 22:46:37,30.295065,-92.414197,72,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-03 22:46:37,37.767072,-75.632346,8,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-03 22:46:37,43.452658,-116.241552,307,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-03 22:46:37,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,29001.0,Adair,Missouri,US,2020-04-03 22:46:37,40.190586,-92.600782,6,0,0,0,"Adair, Missouri, US"
6,40001.0,Adair,Oklahoma,US,2020-04-03 22:46:37,35.884942,-94.658593,14,0,0,0,"Adair, Oklahoma, US"
7,8001.0,Adams,Colorado,US,2020-04-03 22:46:37,39.874321,-104.336258,260,7,0,0,"Adams, Colorado, US"
8,16003.0,Adams,Idaho,US,2020-04-03 22:46:37,44.893336,-116.454525,1,0,0,0,"Adams, Idaho, US"
9,17001.0,Adams,Illinois,US,2020-04-03 22:46:37,39.988156,-91.187868,2,0,0,0,"Adams, Illinois, US"

### Dataset Last 10 Rows

In [30]:
dataset.tail(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2614,NaN,NaN,NaN,United Arab Emirates,2020-04-03 22:46:20,23.424076,53.847818,1264,9,108,1147,United Arab Emirates
2615,NaN,NaN,NaN,United Kingdom,2020-04-03 22:46:20,55.378100,-3.436000,38168,3605,135,34428,United Kingdom
2616,NaN,NaN,NaN,Uruguay,2020-04-03 22:46:20,-32.522800,-55.765800,369,4,68,297,Uruguay
2617,NaN,NaN,NaN,Uzbekistan,2020-04-03 22:46:20,41.377491,64.585262,227,2,25,200,Uzbekistan
2618,NaN,NaN,NaN,Venezuela,2020-04-03 22:46:20,6.423800,-66.589700,153,7,52,94,Venezuela
2619,NaN,NaN,NaN,Vietnam,2020-04-03 22:46:20,14.058324,108.277199,237,0,85,152,Vietnam
2620,NaN,NaN,NaN,West Bank and Gaza,2020-04-03 22:46:20,31.952200,35.233200,194,1,21,172,West Bank and Gaza
2621,NaN,NaN,NaN,Zambia,2020-04-03 22:46:20,-13.133897,27.849332,39,1,2,36,Zambia
2622,NaN,NaN,NaN,Zimbabwe,2020-04-03 22:46:20,-19.015438,29.154857,9,1,0,8,Zimbabwe
2623,NaN,unassigned,Wyoming,US,2020-04-03 22:46:37,NaN,NaN,0,0,0,0,"unassigned, Wyoming, US"

### Dataset Statistics

In [19]:
dataset1.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,2347.000000,2574.000000,2574.000000,2624.000000,2624.000000,2624.000000,2624.000000
mean,30890.724329,36.381705,-79.327771,417.651296,22.403582,86.050305,206.729802
std,17108.467816,10.261907,42.621789,4604.154546,403.004336,1593.196887,2966.602348
min,66.000000,-42.882100,-159.596679,0.000000,0.000000,0.000000,0.000000
25%,18048.000000,33.555222,-95.150669,2.000000,0.000000,0.000000,0.000000
50%,29097.000000,37.743499,-86.584788,8.000000,0.000000,0.000000,0.000000
75%,45078.000000,41.487650,-80.239812,40.000000,1.000000,0.000000,0.000000
max,99999.000000,71.706900,178.065000,119827.000000,14681.000000,63612.000000,85388.000000

## Second Dataset Exploration

### Dataset Column Data Types

In [34]:
dataset2.dtypes

Country_Region          object
Last_Update             object
Lat                    float64
Long_                  float64
Confirmed              float64
Deaths                 float64
Recovered              float64
Active                 float64
Incident_Rate          float64
People_Tested          float64
People_Hospitalized    float64
Mortality_Rate         float64
UID                      int64
ISO3                    object
dtype: object

### Dataset Details

In [35]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country_Region       188 non-null    object
 1   Last_Update          188 non-null    object
 2   Lat                  186 non-null    float64
 3   Long_                186 non-null    float64
 4   Confirmed            188 non-null    float64
 5   Deaths               188 non-null    float64
 6   Recovered            186 non-null    float64
 7   Active               188 non-null    float64
 8   Incident_Rate        186 non-null    float64
 9   People_Tested        0 non-null      float64
 10  People_Hospitalized  0 non-null      float64
 11  Mortality_Rate       188 non-null    float64
 12  UID                  188 non-null    int64
 13  ISO3                 186 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 20.7+ KB

### Dataset First 10 Rows

In [36]:
dataset2.head(10)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Australia,2020-07-20 19:35:14,-25.000000,133.000000,12070.0,123.0,8395.0,3552.0,47.408257,NaN,NaN,1.019056,36,AUS
1,Austria,2020-07-20 19:35:14,47.516200,14.550100,19743.0,711.0,17659.0,1373.0,219.210783,NaN,NaN,3.601276,40,AUT
2,Canada,2020-07-20 19:35:14,60.001000,-95.001000,112418.0,8899.0,98762.0,4758.0,296.964510,NaN,NaN,7.915992,124,CAN
3,China,2020-07-20 19:35:14,30.592800,114.305500,85314.0,4644.0,80018.0,652.0,6.073570,NaN,NaN,5.443421,156,CHN
4,Denmark,2020-07-20 19:35:14,56.263900,9.501800,13466.0,611.0,12452.0,403.0,232.484946,NaN,NaN,4.537353,208,DNK
5,Finland,2020-07-20 19:35:14,61.924100,25.748200,7340.0,328.0,6880.0,132.0,132.473806,NaN,NaN,4.468665,246,FIN
6,France,2020-07-20 19:35:14,46.227600,2.213700,214023.0,30180.0,79668.0,104175.0,327.886448,NaN,NaN,14.101288,250,FRA
7,Germany,2020-07-20 19:35:14,51.165691,10.451526,203325.0,9094.0,188070.0,6161.0,242.677759,NaN,NaN,4.472642,276,DEU
8,Iceland,2020-07-20 19:35:14,64.963100,-19.020800,1930.0,10.0,1907.0,13.0,565.567766,NaN,NaN,0.518135,352,ISL
9,Ireland,2020-07-20 19:35:14,53.142400,-7.692100,25766.0,1753.0,23364.0,649.0,521.811756,NaN,NaN,6.803540,372,IRL

### Dataset Last 10 Rows

In [37]:
dataset2.tail(10)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
178,United Arab Emirates,2020-07-20 19:35:14,23.424076,53.847818,57193.0,340.0,49621.0,7232.0,578.267815,NaN,NaN,0.594478,784,ARE
179,Uruguay,2020-07-20 19:35:14,-32.522800,-55.765800,1054.0,33.0,922.0,99.0,30.342050,NaN,NaN,3.130930,858,URY
180,Uzbekistan,2020-07-20 19:35:14,41.377491,64.585262,17149.0,90.0,9387.0,7672.0,51.238155,NaN,NaN,0.524812,860,UZB
181,Venezuela,2020-07-20 19:35:14,6.423800,-66.589700,11891.0,112.0,3972.0,7807.0,41.816795,NaN,NaN,0.941889,862,VEN
182,Vietnam,2020-07-20 19:35:14,14.058324,108.277199,384.0,0.0,360.0,24.0,0.394499,NaN,NaN,0.000000,704,VNM
183,West Bank and Gaza,2020-07-20 19:35:14,31.952200,35.233200,8916.0,63.0,1921.0,6932.0,174.775004,NaN,NaN,0.706595,275,PSE
184,Western Sahara,2020-07-20 19:35:14,24.215500,-12.885800,10.0,1.0,8.0,1.0,1.674116,NaN,NaN,10.000000,732,ESH
185,Yemen,2020-07-20 19:35:14,15.552727,48.516388,1606.0,445.0,712.0,449.0,5.384570,NaN,NaN,27.708593,887,YEM
186,Zambia,2020-07-20 19:35:14,-13.133897,27.849332,3326.0,128.0,1620.0,1578.0,18.091862,NaN,NaN,3.848467,894,ZMB
187,Zimbabwe,2020-07-20 19:35:14,-19.015438,29.154857,1713.0,26.0,472.0,1215.0,11.525321,NaN,NaN,1.517805,716,ZWE

### Dataset Statistics

In [43]:
dataset2.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID
count,186.000000,186.000000,1.880000e+02,188.000000,1.860000e+02,1.880000e+02,186.000000,0.0,0.0,188.000000,188.000000
mean,20.195974,17.563271,7.768126e+04,3236.276596,4.408913e+04,3.103782e+04,259.661775,NaN,NaN,3.209584,518.771277
std,23.772870,57.380002,3.343498e+05,13234.317687,1.570167e+05,1.948070e+05,453.196879,NaN,NaN,3.743655,963.043369
min,-40.900600,-102.552800,9.000000e+00,0.000000,8.000000e+00,-2.000000e+00,0.178830,NaN,NaN,0.000000,4.000000
25%,5.470062,-7.542225,1.035750e+03,15.750000,6.262500e+02,1.087500e+02,21.485693,NaN,NaN,0.982367,207.000000
50%,18.853450,19.601150,4.752500e+03,91.000000,2.399500e+03,1.332500e+03,75.086572,NaN,NaN,2.119914,420.000000
75%,40.980892,44.698473,3.648225e+04,699.000000,2.144575e+04,7.834500e+03,319.548715,NaN,NaN,4.043151,659.750000
max,64.963100,178.065000,3.804907e+06,140811.000000,1.489635e+06,2.573005e+06,3715.195102,NaN,NaN,27.708593,9999.000000

# Third Dataset Exploration

## Dataset Column Data Types

In [40]:
dataset3.dtypes

Province_State           object
Country_Region           object
Last_Update              object
Lat                     float64
Long_                   float64
Confirmed                 int64
Deaths                    int64
Recovered               float64
Active                  float64
FIPS                    float64
Incident_Rate           float64
People_Tested           float64
People_Hospitalized     float64
Mortality_Rate          float64
UID                     float64
ISO3                     object
Testing_Rate            float64
Hospitalization_Rate    float64
dtype: object

## Dataset Details

In [41]:
dataset3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Province_State        574 non-null    object
 1   Country_Region        574 non-null    object
 2   Last_Update           574 non-null    object
 3   Lat                   560 non-null    float64
 4   Long_                 560 non-null    float64
 5   Confirmed             574 non-null    int64
 6   Deaths                574 non-null    int64
 7   Recovered             494 non-null    float64
 8   Active                574 non-null    float64
 9   FIPS                  58 non-null     float64
 10  Incident_Rate         558 non-null    float64
 11  People_Tested         56 non-null     float64
 12  People_Hospitalized   37 non-null     float64
 13  Mortality_Rate        568 non-null    float64
 14  UID                   572 non-null    float64
 15  ISO3                  572 non-null    object
 16  Testing_Rate          56 non-null     float64
 17  Hospitalization_Rate  37 non-null     float64
dtypes: float64(12), int64(2), object(4)
memory usage: 80.8+ KB

## Dataset First 10 Rows

In [42]:
dataset3.head(10)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-07-20 19:35:29,32.3182,-86.9023,68891,1291,29736.0,37864.0,1.0,1405.025509,585533.0,7782.0,1.873975,84000001.0,USA,11941.890832,11.296105
1,Alaska,US,2020-07-20 19:35:29,61.3707,-152.4044,1950,18,712.0,1220.0,2.0,266.559132,173010.0,NaN,0.923077,84000002.0,USA,23649.946346,NaN
2,American Samoa,US,2020-07-20 19:35:29,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1037.0,NaN,NaN,16.0,ASM,1863.733578,NaN
3,Arizona,US,2020-07-20 19:35:29,33.7298,-111.4312,145183,2784,18149.0,124250.0,4.0,1994.623503,785979.0,6632.0,1.917580,84000004.0,USA,10798.317890,4.568028
4,Arkansas,US,2020-07-20 19:35:29,34.9697,-92.3731,33228,357,25292.0,7579.0,5.0,1101.065543,419171.0,2177.0,1.074395,84000005.0,USA,13889.934535,6.551703
5,California,US,2020-07-20 19:35:29,36.1162,-119.6816,387322,7718,NaN,379604.0,6.0,980.258691,6286852.0,NaN,1.992657,84000006.0,USA,15911.157416,NaN
6,Colorado,US,2020-07-20 19:35:29,39.0598,-105.3111,40124,1752,4948.0,33424.0,8.0,696.750120,435938.0,6019.0,4.366464,84000008.0,USA,7570.029256,15.000997
7,Connecticut,US,2020-07-20 19:35:29,41.5978,-72.7554,47893,4396,8466.0,35031.0,9.0,1343.314017,629969.0,10654.0,9.178794,84000009.0,USA,17669.517209,22.245422
8,Delaware,US,2020-07-20 19:35:29,39.3185,-75.5071,13519,523,7362.0,5634.0,10.0,1388.324070,152995.0,NaN,3.868629,84000010.0,USA,15711.712489,NaN
9,Diamond Princess,US,2020-07-20 19:35:29,NaN,NaN,49,0,NaN,49.0,88888.0,NaN,NaN,NaN,0.000000,84088888.0,USA,NaN,NaN

## Dataset Last 10 Rows

In [45]:
 dataset3.tail(10)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
564,Zakarpattia Oblast,Ukraine,2020-07-20 19:35:29,48.620800,22.287900,4440,155,1554.0,2731.0,NaN,353.277605,NaN,NaN,3.490991,80425.0,UKR,NaN,NaN
565,Zaporizhia Oblast,Ukraine,2020-07-20 19:35:29,47.838800,35.139600,678,20,551.0,107.0,NaN,39.745908,NaN,NaN,2.949853,80426.0,UKR,NaN,NaN
566,Zeeland,Netherlands,2020-07-20 19:35:29,51.479360,3.861559,791,69,NaN,722.0,NaN,206.264603,NaN,NaN,8.723135,52811.0,NLD,NaN,NaN
567,Zhejiang,China,2020-07-20 19:35:29,29.183200,120.093400,1270,1,1267.0,2.0,NaN,2.213701,NaN,NaN,0.078740,15631.0,CHN,NaN,NaN
568,Zhytomyr Oblast,Ukraine,2020-07-20 19:35:29,50.254700,28.658700,1602,34,1251.0,317.0,NaN,131.290706,NaN,NaN,2.122347,80427.0,UKR,NaN,NaN
569,Zuid-Holland,Netherlands,2020-07-20 19:35:29,51.937835,4.462114,11886,1305,NaN,10581.0,NaN,320.490005,NaN,NaN,10.979303,52812.0,NLD,NaN,NaN
570,Unknown,India,2020-07-20 19:35:29,NaN,NaN,163,0,NaN,163.0,NaN,NaN,NaN,NaN,0.000000,35636.0,IND,NaN,NaN
571,Unknown,Colombia,2020-07-20 19:35:29,NaN,NaN,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,17034.0,COL,NaN,NaN
572,Diamond Princess,Canada,2020-07-20 19:35:29,NaN,NaN,0,1,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,12413.0,CAN,NaN,NaN
573,Grand Princess,Canada,2020-07-20 19:35:29,NaN,NaN,13,0,13.0,0.0,NaN,NaN,NaN,NaN,0.000000,12414.0,CAN,NaN,NaN

## Dataset Statistics

In [48]:
dataset3.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,Testing_Rate,Hospitalization_Rate
count,560.000000,560.000000,574.000000,574.000000,494.000000,574.000000,58.000000,558.000000,5.600000e+01,37.000000,568.000000,5.720000e+02,56.000000,37.000000
mean,30.034255,7.813712,18740.256098,837.160279,11658.082996,7869.832753,3288.086207,443.766418,8.166844e+05,7496.702703,3.798201,7.820948e+06,13065.198043,10.136617
std,25.496337,81.593879,48603.135946,2858.284797,29334.518601,33597.096386,17408.350591,557.445790,1.160016e+06,15002.537169,3.986654,2.436635e+07,4754.065928,4.230318
min,-52.368000,-170.132000,0.000000,0.000000,1.000000,-226886.000000,1.000000,0.000000,1.037000e+03,4.000000,0.000000,1.600000e+01,1863.733578,3.919591
25%,18.220750,-72.197982,642.250000,9.000000,364.000000,58.000000,18.250000,62.061849,1.516875e+05,1327.000000,1.063376,1.701575e+04,10196.524969,6.551703
50%,36.124167,12.408923,3425.000000,69.000000,2339.500000,822.500000,32.500000,266.523655,4.617430e+05,3681.000000,2.264053,4.840150e+04,12347.791999,10.105093
75%,49.634117,76.122775,11532.500000,521.250000,7595.250000,3532.250000,47.750000,635.044191,9.373670e+05,7895.000000,5.234893,6.436625e+04,15274.253556,11.903053
max,71.706900,169.490087,415049.000000,40718.000000,270203.000000,379604.000000,99999.000000,4204.133313,6.286852e+06,89995.000000,21.410857,8.410000e+07,26295.802604,22.245422

# Selecting Coronavirus Cases in Turkey

## Dataset #1

In [95]:
df1 = dataset1[["Country_Region","Lat","Long_","Last_Update","Confirmed","Deaths","Recovered","Active"]]

In [96]:
df1

,Country_Region,Lat,Long_,Last_Update,Confirmed,Deaths,Recovered,Active
0,US,34.223334,-82.461707,2020-04-03 22:46:37,6,0,0,0
1,US,30.295065,-92.414197,2020-04-03 22:46:37,72,1,0,0
2,US,37.767072,-75.632346,2020-04-03 22:46:37,8,0,0,0
3,US,43.452658,-116.241552,2020-04-03 22:46:37,307,3,0,0
4,US,41.330756,-94.471059,2020-04-03 22:46:37,1,0,0,0
...,...,...,...,...,...,...,...,...
2619,Vietnam,14.058324,108.277199,2020-04-03 22:46:20,237,0,85,152
2620,West Bank and Gaza,31.952200,35.233200,2020-04-03 22:46:20,194,1,21,172
2621,Zambia,-13.133897,27.849332,2020-04-03 22:46:20,39,1,2,36
2622,Zimbabwe,-19.015438,29.154857,2020-04-03 22:46:20,9,1,0,8
2623,US,NaN,NaN,2020-04-03 22:46:37,0,0,0,0

In [97]:
df1[df1["Country_Region"] == "Turkey"]

,Country_Region,Lat,Long_,Last_Update,Confirmed,Deaths,Recovered,Active
2611,Turkey,38.9637,35.2433,2020-04-03 22:46:20,20921,425,484,20012

# Dataset #2

In [92]:
df2 = dataset2[["Country_Region","Lat","Long_","Last_Update","Confirmed","Deaths","Recovered","Active","Mortality_Rate"]]

In [93]:
df2

,Country_Region,Lat,Long_,Last_Update,Confirmed,Deaths,Recovered,Active,Mortality_Rate
0,Australia,-25.000000,133.000000,2020-07-20 19:35:14,12070.0,123.0,8395.0,3552.0,1.019056
1,Austria,47.516200,14.550100,2020-07-20 19:35:14,19743.0,711.0,17659.0,1373.0,3.601276
2,Canada,60.001000,-95.001000,2020-07-20 19:35:14,112418.0,8899.0,98762.0,4758.0,7.915992
3,China,30.592800,114.305500,2020-07-20 19:35:14,85314.0,4644.0,80018.0,652.0,5.443421
4,Denmark,56.263900,9.501800,2020-07-20 19:35:14,13466.0,611.0,12452.0,403.0,4.537353
...,...,...,...,...,...,...,...,...,...
183,West Bank and Gaza,31.952200,35.233200,2020-07-20 19:35:14,8916.0,63.0,1921.0,6932.0,0.706595
184,Western Sahara,24.215500,-12.885800,2020-07-20 19:35:14,10.0,1.0,8.0,1.0,10.000000
185,Yemen,15.552727,48.516388,2020-07-20 19:35:14,1606.0,445.0,712.0,449.0,27.708593
186,Zambia,-13.133897,27.849332,2020-07-20 19:35:14,3326.0,128.0,1620.0,1578.0,3.848467
187,Zimbabwe,-19.015438,29.154857,2020-07-20 19:35:14,1713.0,26.0,472.0,1215.0,1.517805

In [94]:
df2[df2["Country_Region"] == "Turkey"]

,Country_Region,Lat,Long_,Last_Update,Confirmed,Deaths,Recovered,Active,Mortality_Rate
176,Turkey,38.9637,35.2433,2020-07-20 19:35:14,220572.0,5508.0,203002.0,12062.0,2.497144

## Dataset #3

In [72]:
df3 = dataset3[["Country_Region","Last_Update","Confirmed","Deaths","Recovered","Active","Mortality_Rate"]]

In [74]:
df3

,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Active,Mortality_Rate
0,US,2020-07-20 19:35:29,68891,1291,29736.0,37864.0,1.873975
1,US,2020-07-20 19:35:29,1950,18,712.0,1220.0,0.923077
2,US,2020-07-20 19:35:29,0,0,NaN,0.0,NaN
3,US,2020-07-20 19:35:29,145183,2784,18149.0,124250.0,1.917580
4,US,2020-07-20 19:35:29,33228,357,25292.0,7579.0,1.074395
...,...,...,...,...,...,...,...
569,Netherlands,2020-07-20 19:35:29,11886,1305,NaN,10581.0,10.979303
570,India,2020-07-20 19:35:29,163,0,NaN,163.0,0.000000
571,Colombia,2020-07-20 19:35:29,0,0,NaN,0.0,NaN
572,Canada,2020-07-20 19:35:29,0,1,NaN,-1.0,NaN
573,Canada,2020-07-20 19:35:29,13,0,13.0,0.0,0.000000

In [77]:
df3[df3["Country_Region"] == "Turkey"]

Empty DataFrame
Columns: [Country_Region, Last_Update, Confirmed, Deaths, Recovered, Active, Mortality_Rate]
Index: []

No Turkey coronavirus cases in dataset 3